.git
.idea
*.iml
.vscode
**/node_modules
**/build
docs
scratch
*.log
target/*.jar.original
target/classes
target/test-classes
target/surefire-reports
target/generated-sources
target/generated-test-sources
target/maven-status
target/maven-archiver
